<!-- Renders post date, title, and snippet of text. -->
<div class="py-2 mb-2 prose">
  <a class="no-underline h5 bold text-accent" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
  <h2 class="h1 lh-condensed col-9 mt-0">
    <a class="link-primary" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  <p>{% if post.content contains '<!--excerpt.start-->' and post.content contains '<!--excerpt.end-->' %}
        {{ ((post.content | split:'<!--excerpt.start-->' | last) | split: '<!--excerpt.end-->' | first) | strip_html | truncatewords: 50 }}
     {% else %}
        {{ post.content | strip_html | truncatewords: 50 }}
     {% endif %}
  </p>
</div>
